.lein-repl-history
case-studies
roadmap.txt
log/**
pom.xml
pom.xml.asc
repl-port
*~
.nrepl-port
.*.swp
*.log
lib
classes
build
.lein-deps-sum
.lein-failures
target/**
checkouts/**
store/**
writeup/notes
research
tarball.url
